@import url(font-awesome.min.css);
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

:root {
    font-size: 12px;
    font-family: 'Yatra One', cursive;
    --container-width:1350px;

    --primary-color: red;
    --secondary-color: blue;
    --main-gb: black;
    --second-gb: rgb(0, 19, 128);
    --superWhite: white;
    --principal-color: rgb(185, 177, 120);
    --first-gradient: rgb(240, 123, 123);
    --second-gradient: rgb(107, 133, 219);
    --black-75: rgb(0, 0, 0, .75);
}

::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-color{ background: var(--second-gradient); }
::-webkit-scrollbar-track { background: var(--second-gradient); }
::-webkit-scrollbar-thumb{ background: var(--first-gradient);border-radius: 25px; }
::-webkit-scrollbar-thumb:hover { background: rgb(139, 86, 86); }
/************ CARACTRISTIC MODAL ************/

body{
    color: var(--superWhite);
}
.allDetails{
    position: fixed;
    top: 0;
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0,.8);
    color: var(--superWhite);
    width: 100vw;
    height: 100vh;
}
.allDetails.display{
    display: flex;
}
.textDetails{
    width: 40%;
    height: auto;
    display: grid;
    grid-template-columns: 180px 155px 390px;
    align-items: center;
    border: solid gray 1px;
    background-color: var(--second-gradient);
    padding: 20px;
    font-size: 1.2rem;
}
.crossClose{
    float: right;
}
/*******************************************/
.template-main {
    background: url(/img/background.jpg) no-repeat;
    position: absolute;
    width: 100%;
}

/* the super title */

.title {
    display: block;
    align-items: center;
    text-align: center;
    background-color: var(--main-gb);
    color: var(--superWhite);
    padding: 2rem;
    height: 95px;
    opacity: 0.5;

}
.title h1 {
    position: relative;
    z-index: 600;
    font-size: 3rem;
    font-weight: bolder;
    background: -webkit-linear-gradient(0.50turn, var(--first-gradient), var(--second-gradient));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.title img {
    position: absolute;
    width: 360px;
    margin-top: -145px;
    margin-left: -166px;
    background-image: url(../img/fighter1.gif);
    z-index: 1;
    object-position:0 -20%
}

/* The main stage */

.fightScene {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    grid-auto-rows: minmax(90px, auto);
    padding-top: 20px;
}

.nameFighter {
    display: flex;
    justify-content: center;
}

.firstFighter {
    justify-self: center;
    grid-column: 1;
    grid-row: 1 / 4 ;
    width: 240px;
    height: 320px;
    border: var(--first-gradient) 3px solid;
    border-radius: 25px 0 0 25px;
    background: url(../img/fighter1.gif) no-repeat;
    cursor: pointer;
}
.firstFighter h3, .secondFighter h3{
    padding: 5px 0;
    background: rgb(0,0,0,.5);
    text-align: center;
    color: white;
}
.firstFighter h3{ border-radius:  25px 0 0 0; }
.secondFighter h3{ border-radius: 0 25px 0 0; }
.secondFighter {
    justify-self: center;
    grid-column: 6;
    grid-row: 1 / 4 ;
    cursor: pointer;
    width: 240px;
    height: 320px;
    border: rgb(107, 133, 219) 5px solid;
    border-radius: 0 25px 25px 0;
    background: url(../img/fighter2.gif) no-repeat;
}

.logCombat {
    grid-column: 3 / 5;
    grid-row: 1 / 1 ;
    background: linear-gradient(0.25turn, var(--first-gradient), var(--second-gradient));
    width: 800px;
    height: 135px;
    color: white;
    padding: 4px;
}
.textCombat{
    width: 100%;
    height: 100%;
    background: var(--black-75);
    padding: 10px;
    overflow-y: auto;
 }

.combatScene1,.combatScene2 {
    display: grid;
    grid-template-columns: 285px 75px;
    align-items: center;
    gap: 1px;
    width: 100%;
    height: 300px;
    background-color: rgb(0,0,0,.75);
    padding: 15px;
    font-size: 1.5rem;
}
.combatScene1{
    border: var(--first-gradient) 3px solid;
    grid-column: 3 / 4;
    border-radius: 0 0 0 25px;
}
.combatScene2{
    border: var(--second-gradient) 3px solid;
    grid-column: 4 / 5;
    border-radius: 0 0 25px 0;
    color: black;
}
.entitledStat{
    grid-column: 2 / 3;
    background-color: var(--first-gradient);
    padding-left: 20px;
    text-transform: capitalize;
}
.valueStat{
    grid-column: 3 / 4;
    background-color: var(--superWhite);
    text-align: center;
    color: black;
}
.imageStat{
    grid-row: 1 / span 12;
}
.combatScene1 .entitledStat, .combatScene1 .entitledStat{
    grid-column: 1 / 2;
    background-color: var(--first-gradient);
    width: 100%;
    color: var(--superWhite);
}
.combatScene1 .valueStat, .combatScene2 .valueStat{
    grid-column: 2 / 3;
    background-color: var(--second-gradient);
    width: 100%;
}
/* The fight button */

.btnFight {
    text-align: center;
    align-items: center;
    justify-content: center;
    grid-column: 4 / span 1;
    grid-row: 4;
}
.btnFight button{
    padding: 5px 20px;
    font-size: 2rem;
    border-radius: 25px;
    color: white;
    border: solid white 1px;
    background: linear-gradient(0.25turn, var(--first-gradient), var(--second-gradient));
}
.btnFight button:hover{
    background: linear-gradient(0.25turn, rgb(224, 192, 192), rgb(159, 171, 209));
}

/* Check First/Second Fighter */

.checkHero{
    display: grid;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row: 3;
    height: 50px;
}

.whosFighter1{
    width: 440px;
    justify-self: center;
    grid-column: 1;
    grid-row: 4;
    background-color: var(--first-gradient);
}
.whosFighter2{
    width: 440px;
    justify-self: center;
    grid-column: 7;
    grid-row: 4;
    background-color: var(--second-gradient);
}

.whosFighter1, .whosFighter2 {
    text-align: center;
    width: 240px;
    font-size: 2rem;
    border-radius: 10px;
}
/*********** Filter session ***********/
.containerFilter{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: var(--first-gradient);
    background-color: var(--black-75);
}
.filter{
    text-align: center;
    width: 35%;
    font-size: 1.5rem;
    padding: 10px 0;
}

/* List of characters */

.heroesList {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    width: 100%;
    color: var(--second-gradient);
    height: auto;
    background-color: var(--black-75);
    padding-bottom: 50px;
}

.heroesList h3{
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.heroes{
    display: grid;
    grid-template-columns: repeat(563, 210px);
    height: 265px;
    overflow-y: hidden;
    overflow-x: auto;
}

.choiceHero, .heroes img{
    width: 100%;
    height: auto;
    border: none;
}
.choiceHero{ width: 98%; }
.heroes img:hover{
    opacity: 0.5;
}